%p
  The wedding will be at the National Aviary in Pittsburgh, Pennsylvania.

%p
  There will be birds at our wedding.

%p
  The aviary will be open for guests to explore during the reception.

%p
  Parking in the aviary's lot is free during the ceremony and reception.
  (There won't be signage to that effect, but you don't have to pay the $5.)
