%p
  The wedding will be at the National Aviary in Pittsburgh, Pennsylvania.

%p
  There will be birds at our wedding.

%p
  The aviary will be open for guests to explore during the reception.

%p
  Parking in the aviary's lot is free during the ceremony and reception.
  There won't be signage to that effect, but you don't have to pay the $5.

%p
  <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=206852732037910624757.0004d89b5f1301761cd5b&amp;ie=UTF8&amp;t=p&amp;ll=40.452238,-80.011325&amp;spn=0.015675,0.027466&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=206852732037910624757.0004d89b5f1301761cd5b&amp;ie=UTF8&amp;t=p&amp;ll=40.452238,-80.011325&amp;spn=0.015675,0.027466&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Wedding locations</a> in a larger map</small>
