%p
  We reserved a block of rooms at the Marriott Residence Inn - North Shore.

%p
  That block has expired, but you can still get a comparable rate with a AAA
  discount or one of their advance rates (if you either pay up front or just
  book far enough in advance).

%p
  You can
  = link_to 'make reservations online', 'http://www.marriott.com/hotels/travel/PITRN?app=resvlink&fromDate=3/23/13&toDate=3/24/13'
  \.
