%p
  We have reserved a block of rooms at the Marriott Residence Inn - North Shore.

%p
  You can
  = link_to 'make reservations online', 'http://www.marriott.com/hotels/travel/PITRN?groupCode=hnwhnwa&app=resvlink&fromDate=3/21/13&toDate=3/24/13&stop_mobi=yes'
  \.  The group reservation code is: hnwhnwa . Please let us know if you have
  any trouble booking a room.
