%p
  Members of the bridal party:

#party
  .bride
    .member Alison Alvarez
    .member Becca Newbury
    .member Elisabeth Haskell
    .member Jen Fein
    .member Megan Lindsey
    .member Melissa Harding

  .groom
    .member Clark Munson
    .member David Newbury
    .member Eric Barkdoll
    .member Jeff Harding
    .member Kyle Stout
    .member Tom Osugi
