%p
  Members of the bridal party:

#party
  .bride
    .honor.member
      .name Alison Alvarez
      .position Matron of Honor
      .description
        Alison is a very special friend who has always been there for me. I met
        her shortly after I moved to Pittsburgh and she has been a part of our
        weekly Wednesday night dinners as long as I have. She is a computer
        programmer at Rhiza Labs and the mother of my flower girl.
    .member
      .name Ada Munson
      .position Flower Girl
      .description
        My adorable goddaughter who is so special to me. She might dump all the
        flowers at the end of the aisle but I can't imagine my wedding without
        her.
    .member
      .name Elisabeth Haskell
      .position Bridesmaid
      .description
        Elisabeth is Ben’s sister and now my sister-in-law (depending if you
        read this before or after the ceremony). I have enjoyed getting to know
        her and am looking forward to having a sister! She is a teacher at
        Benson High School in Omaha.
    .member
      .name Jen Fein
      .position Bridesmaid
      .description
        Jen has been a great friend to me and definitely was key in teaching me
        how to relax and have fun. I have many fond memories of her taking me
        dancing, from swing dancing to 80’s night fun, and of staying up
        watching TV shows and movies I’d never seen. She went to law school in
        Washington DC and now lives in Seattle.
    .member
      .name Megan Lindsey
      .position Bridesmaid
      .description
        Megan was instrumental in introducing me to everyone I know in
        Pittsburgh! She is a wonderful friend and I am so grateful that she is
        a part of my life. She is a musician in a band Good Night, States. She
        is also a co-owner of a chain or restaurants in Pittsburgh called
        Franktuary, aptly named as they serve hot dogs among other things.
    .member
      .name Becca Newbury
      .position Bridesmaid
      .description
        My lovely sister-in-law. I am so glad that she chose to marry my
        brother almost exactly one year ago and that she is part of my family
        now. She is an occupational therapist at Butler Hospital, so we can
        swap crazy health care tales as well.
    .member
      .name Melissa Harding
      .position Bridesmaid
      .description
        Melissa is a great friend and is also a member of Wednesday night
        dinners. She works at Phipps Conservatory and has increased my love of
        nature through her passion for the environment. We like to go on walks
        and I feel like I can talk to her about anything (and often do!).

  .groom
    .honor.member
      .name Clark Munson
      .position Best Man
      .description
        Clark has been my best friend since junior high.  He's responsible for
        much of my sense of humor and the quirkier half of my musical taste
        (mainly They Might Be Giants).  I'll be sad to move away from the
        apartment next door, but luckily Saralinda is less than a mile away.
        He's currently a translation project manager at One Planet in
        Pittsburgh.
    .member
      .name Eric Barkdoll
      .position Groomsman
      .description
        Eric has been one of my best friends since junior high.  His parents
        are like a second set of parents to me, since I spent so much time at
        their house growing up.  If you want interesting stories about me
        growing up, he's the one with the dirt.  But luckily, he also has the
        loyalty to not reveal too much.  He's currently living in Omaha.
    .member
      .name Kyle Stout
      .position Groomsman
      .description
        Kyle was my randomly-assigned roommate freshman year at Princeton.  We
        ended up living together three of the four years there.  He was a
        wonderful influence on my musical taste and sense of humor, and has
        been a great friend ever since.  He's currently living near Columbus,
        Ohio.
    .member
      .name Tom Osugi
      .position Groomsman
      .description
        Tom has been a great friend since junior high, where we bonded as
        members of Math Club.  Along with another friend, we took a 5,000-mile
        roadtrip during the summer after high-school graduation.  He's
        currently living in Chicago.
    .member
      .name David Newbury
      .position Groomsman
      .description
        David has always provided Saralinda with a great deal of support, and
        I'm happy I'll soon be able to count him as a brother.  He's always
        working on any number of cool projects, from renovating both of his
        houses to a live Twitter streaming booth at last year's
        South-by-Southwest.  He's currently living in Pittsburgh and Emlenton.
    .member
      .name Jeff Harding
      .position Groomsman
      .description
        Jeff has been a great friend through dinner club.  His love of
        rally-racing was part of the inspiration for getting my current car and
        for doing my own oil changes.  Along with Melissa, the four of us have
        gone on quite a few double dates.  He's currently living in Pittsburgh
        halfway between Saralinda and me, but will soon be living halfway
        between Clark and Alison and me.
