%p
  = link_to 'Moxie Photobooth', 'http://www.moxiephotobooth.com/'
  provided the photobooth at our wedding.  They've posted the pictures on
  = link_to 'their Facebook page', 'https://www.facebook.com/media/set/?set=a.253446138132270.1073741826.136736039803281'
%p
  Professional photographs were taken by Michael Purvis of
  = link_to 'Purvis Photography', 'http://purvisphoto.com'
  \.  They've been put online at Pictage where you can
  = link_to 'browse and purchase prints', 'http://www.pictage.com/1418694'
