%p
  We are registered at:

  %ul
    %li= link_to 'Bed Bath & Beyond', 'http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-213449270'
    %li= link_to 'Amazon.com', 'http://www.amazon.com/registry/wedding/QU49139PNYBN'

%p
  Any ridiculous items are probably Ben's.
