%p
  %b Who?
  Saralinda Newbury and
  = link_to 'Benjamin R. Haskell', 'http://benizi.com/'

%p
  %b What?
  Wedding Ceremony and Reception

%p
  %b Where?
  = link_to 'The National Aviary', 'http://aviary.org/'
  \- Pittsburgh, PA

%p
  %b When?
  March 23, 2013 - 6:00PM
  .countdown
